<ion-view class="gray-bg" amination ="slide-in-up" title="评论">

	<ion-nav-buttons side="left">
    	<button class="button button-clear" onclick="window.history.go(-1)">
    		<span class="icon-button nav-icon-cancel">返回</span>
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
     	<button class="button button-clear">
        	<a>发表</a>
        </button>
    </ion-nav-buttons>
    
    <ion-content>           
            <textarea placeholder="说点什么吧~" class="area-box" id="textbox" ng-model="commens" >
            </textarea>
    </ion-content>

</ion-view>
