<ion-view title = "{{categoryTitle.categoryName}}">

    <ion-nav-buttons side="left">
    	<button class="button button-clear" onclick="window.history.go(-1)">
    		<span class="icon-button nav-icon-back">返回</span>
        </button>
    </ion-nav-buttons>
    
    <ion-content class="gray-bg" >
    
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中!"
                       refreshing-icon="ion-loading-a">
        </ion-refresher >
        
        <ion-slide-box class="banner-container">
            <ion-slide ng-repeat="advertising in data.advertisingList">
            	<ul class="banner-cont">
                	<a href="#/author/{{advertising.authorID}}/reports/{{advertising.ID}}" class="go-detail"></a>
                    <li class="imge"><img ng-src="{{advertising.thumbnail}}"></li>
                    <li class="title"><h2>{{advertising.title}}</h2></li>
                    <li class="link"><a href="#/author/{{advertising.authorID}}/reports/{{advertising.ID}}">{{advertising.title}}</a></li>
                </ul>
            </ion-slide>
        </ion-slide-box>
        
        
        <!--article-item-group-->
        <ul class="article-item-group">
            <h2>{{categoryTitle.articleNumber}}篇文章</h2>
            <li ng-repeat="artilce in data.articleList | orderBy: '-pubDate' ">
                <div class="article-pic">
                    <div class="relative">
                        <img ng-src="{{artilce.thumbnail}}">
                    </div>
                </div>
                <div class="article-title">{{artilce.title}}</div>
                <div class="article-author-cont">
                    <span class="author">{{artilce.authorName}}</span>&nbsp;·&nbsp;<span class="pub-date">{{artilce.pubDate}}</span>
                </div>
                <a href="#/author/{{artilce.authorID}}/reports/{{artilce.ID}}" class="detail">详情</a>
            </li>
        </ul>
        <!--/article-item-group-->
        
        <div class="loading-more">加载更多</div>
    </ion-content>

    
</ion-view>
