<ion-view title="更多">
    
        <ion-content class="gray-bg">
    	<ul class="widget-boner padding-top-20px">
            <li class="avantar"><img src="images/avatar-pic.jpg"></li>
            <li class="title">奇趣无处不在</li>
            <li class="sub-title">将身边的奇趣分享给朋友，提交收录<a>注册账户...</a></li>
        </ul>
         
         <!--setting-item-->
        <ul class="setting-item setting-item-group list">
            <li>
                <span class="title">新增订阅</span>
                <span class="sub-title">置前</span>
                <a class="detail">更改排序</a>
            </li>
            <li>
                <span class="title">推送</span>
                <span class="sub-title">开启</span>
                <label class="toggle toggle-assertive" style="position:absolute; right:10px; top:7px;">
                    <input type="checkbox" checked>
                    <div class="track">
                    	<div class="handle"></div>
                    </div>
                </label>
            </li>
            <li>
                <span class="title">正文字体大小</span>
                <span class="sub-title">小</span>
                <a  class="detail">选择字体</a>
            </li>
            <li>
                <span class="title">加载图片</span>
                <span class="sub-title">所有</span>
                <a  class="detail">选择网络</a>
            </li>
            <li>
                <span class="title">版本</span>
                <span class="sub-title">当前版本2.1，最新</span>
                <a class="detail">检查更新</a>
            </li>
            <li>
                <span class="title">帮助/反馈</span>
                <span class="sub-title">获取帮助</span>
                <a class="detail">详情</a>
            </li>
        </ul>
        <!--/setting-item-->
    </ion-content>
    
</ion-view>
