<ion-view title="看台">
    
    <ion-nav-buttons side="left">
    	<button class="button button-clear" ui-sref="search">
    		<span class="icon-button nav-icon-search">搜索</span>
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        	<a class="custom-right-button" href="#/add-subscribe">添加</a>
    </ion-nav-buttons>
    
    
    <ion-content>
    	
        <!--guide-pannel-->
        <ul class="guide-pannel">
            <li><a href="#/sns" class="icon-sns-friend detail">好友动态<span class="message active">有更新</span></a></li>
            <li><a href="#/dayliy" class="icon-sns-dayliy detail">每日精选<span class="message">有更新</span></a></li>
        </ul>
        <!--/guide-pannel-->
        
        <h2 class="home-author-tile">我的订阅</h2>
        <ul class="author-list home">
            <li ng-repeat="myReadinglist in readinglist | orderBy: '-addTime' ">
                <span class="avatar"><img ng-src="{{myReadinglist.authorAvatarHrf}}"></span>
                <span class="right">
                    <span class="author">{{myReadinglist.authorName}}</span>
                    <span class="basic-introl">（{{myReadinglist.updateTime}}）{{myReadinglist.recentArticle}}</span>
                </span>
                <a href="#/author/{{myReadinglist.authorID}}" class="detail">详情</a>
            </li>
        </ul>
        
    </ion-content>
    
</ion-view>
