<ion-tabs class="tabs-icon-top">

    <ion-tab title="看台" icon="icon tabbar-icon-view" ui-sref="tab.dash">
    	<ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="专题特刊" icon="icon tabbar-icon-mgzine" ui-sref="tab.magzine">
    	<ion-nav-view name="tab-magzine"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="发现" icon="icon tabbar-icon-discover" ui-sref="tab.discovery">
    	<ion-nav-view name="tab-discovery"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="排行榜" icon="icon tabbar-icon-top" ui-sref="tab.top">
    	<ion-nav-view name="tab-top"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="更多" icon="icon tabbar-icon-more" ui-sref="tab.more">
    	<ion-nav-view name="tab-more"></ion-nav-view>
    </ion-tab>
    
</ion-tabs>
