<!--swiper-container-->
<div class="welcome">
	<div class="swiper-container">
		
        <a ui-sref="tab.dash" class="icon-start">开始</a>
        <ion-slide-box class="swiper-wrapper">
        	<ion-slide class="swiper-slide">
            	<div class="relative">
                    <div class="article-pic"><img src="images/news-pic.jpg"></div>
                    <div class="article-title">
                        <a href="#">Maker Voice：穿上智能卫衣 Smart Hoodie，挽起袖口就能发短信</a>
                        <div class="author-cont">
                            <span class="avantar"><img src="#"></span>
                            <span class="author">36氪</span>
                            <span class="dotted">·</span>
                            <span class="pub-date">今天</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide class="swiper-slide">
            	<div class="relative">
                    <div class="article-pic"><img src="images/news-pic.jpg"></div>
                    <div class="article-title">
                        <a href="#">Maker Voice：穿上智能卫衣 Smart Hoodie，挽起袖口就能发短信</a>
                        <div class="author-cont">
                            <span class="avantar"><img src="#"></span>
                            <span class="author">36氪</span>
                            <span class="dotted">·</span>
                            <span class="pub-date">今天</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide class="swiper-slide">
            	<div class="relative">
                    <div class="article-pic"><img src="images/news-pic.jpg"></div>
                    <div class="article-title">
                        <a href="#">Maker Voice：穿上智能卫衣 Smart Hoodie，挽起袖口就能发短信</a>
                        <div class="author-cont">
                            <span class="avantar"><img src="#"></span>
                            <span class="author">36氪</span>
                            <span class="dotted">·</span>
                            <span class="pub-date">今天</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide class="swiper-slide">
            	<div class="relative">
                    <div class="article-pic"><img src="images/news-pic.jpg"></div>
                    <div class="article-title">
                        <a href="#">Maker Voice：穿上智能卫衣 Smart Hoodie，挽起袖口就能发短信</a>
                        <div class="author-cont">
                            <span class="avantar"><img src="#"></span>
                            <span class="author">36氪</span>
                            <span class="dotted">·</span>
                            <span class="pub-date">今天</span>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
        </ion-slide-box>
    </div>
</div>